@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style:none;
}

a{
	text-decoration: none;
	color: inherit;
}

body {
	background-color: #fafafa;
	font-family: 'Marck Script', cursive;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../img/newyear-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.time-count {
	background: #fff;
	box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
	border-radius: 30px;
	width: 665px;
    height: 270px;
    padding: 35px 33px;
}

.time-count__title {
	margin: 0;
	margin-bottom: 35px;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
}

.time-count__content {
	display: flex;
	justify-content: center;
}

.time-count__item {
	text-align: center;
}

.time-count__val {
	min-width: 81px;
	font-size: 70px;
	line-height: 82px;	
}

.time-count__separator {
	font-size: 48px;
	line-height: 74px;
	text-align: center;
	margin: 0 33px;
}

.time-count__text {
	font-size: 18px;
	line-height: 20px;
}


@media screen and (max-width: 415px) {
    .time-count {
    max-width: 354px;
    max-height: 270px;
    padding: 16px 11px;
	}

	.time-count__val {
    min-width: 48px;
    font-size: 46px;
    line-height: 80px;
	}

	.time-count__separator {
    font-size: 48px;
    line-height: 74px;
    text-align: center;
    margin: 0px 16px;
	}

	.time-count__title {
    margin-bottom: 10px;
	}
}